.auth-main {
  width: 100%;
  height: 100vh;
}

.auth-main a {
  text-decoration: underline;
}

.auth-title {
  border-bottom: 3px solid #000;
}

.form-container {
  position: relative;
  margin-top: 40px;
}

.form-container input {
  position: inherit;
  outline: 0;
  z-index: 1;
  width: 100%;
  background: none;
  padding: 10px 10px 10px 5px;
  display: block;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.form-container input:focus ~ label,
.form-container input:valid ~ label {
  top: -20px;
  color: #2196f3;
}

.form-container input:focus ~ .bar,
.form-container input:valid ~ .bar {
  width: 100%;
  left: 0;
}

.form-container label {
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: 0;
  transition: 300ms ease all;
  pointer-events: none;
}

.form-container .bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: #2196F3;
  transition: 300ms ease all;
}

.btn-submit {
  width: 100%;
  background: #23232c;
  transition: all 0.5s;
}

.btn-submit:hover {
  background: #111114;
}

.error *,
.error + label {
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.error .bar {
  background: #dc3545;
}
