.container {
  max-width: 1366px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.header > a {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.header i {
  font-size: 36px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 40px;
}

.item-header {
  display: flex;
  color: rgba(77, 77, 77, 0.699);
  margin-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid rgba(128, 128, 128, 0.15);
  grid-gap: 10px;
}

.last-item {
  border-bottom: 1px solid rgba(128, 128, 128, 0.15);
}

.item_img {
  width: 100px;
  margin-right: 40px;
}

.item_img > img {
  width: 100%;
}

.item_name {
  flex-basis: 35%;
}

.item_qty {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-gap: 20px; */
}

.item_qty > input {
  font-size: 21px;
  border: none;
  padding: 3px;
  width: 70px;
  text-align: center;
}

.item_qty i {
  font-size: 24px !important;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.item i {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  transition: ease-out 0.2s all;
}

.item > a {
  display: flex;
  align-items: center;
}

.item > a:hover i {
  color: rgba(0, 0, 0, 0.85);
}

.item i:hover {
  color: rgba(0, 0, 0, 0.85);
}

.item_price,
.item-total {
  flex: 1;
  text-align: center;
}

.price-not-discount {
  color: rgba(73, 73, 73, 0.616);
  text-decoration: line-through;
  margin-right: 20px;
}

.checkout {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn-checkout {
  text-transform: uppercase;
  color: white;
  background-color: #23232c;
  padding: 40px 100px;
}

.btn-checkout > span {
  margin: 0 10px;
  border-left: 1px solid rgba(209, 209, 209, 0.35);
}

.no-product {
  text-align: center;
  font-size: 20px;
  color: rgba(63, 63, 63, 0.76);
  margin-bottom: 60px;
}