h5 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 14px;
    margin-top: 0;
}

h6 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(3 0 71 / 9%) 0 1px 3px;
    color: rgb(43, 52, 69);
}

.card .card-body {
    padding: 0;
}

.card .card-body ul {
    padding: 0;
}

.card .card-body .card-title {
    text-transform: uppercase;
    font-size: 12px;
    padding: 26px 30px 1rem;
    color: rgb(125, 135, 156);
}

.card .card-body ul li a {
    display: flex;
    transition: all 150ms ease-in-out 0s;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1.25rem;
    justify-content: space-between;
    align-items: center;
    border-left: 4px solid #fff;
}

.card .card-body ul li a i {
    color: rgb(125, 135, 156);
}

.card .card-body ul li.active a,
.card .card-body ul li a:hover {
    border-left-color: rgb(233, 69, 96);
    color: rgb(233, 69, 96);
}

.table-head {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
}

.table-head > h5 {
    width: 50px;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    margin: 0 6px;
    color: rgb(125, 135, 156);
}

.table-head > h5:nth-child(n+2) {
    flex: 1 1 0;
}

.table-head > h5:last-child {
    flex: 0 0 0 !important;
    padding-left: 18px;
    padding-right: 18px;
}


.table-row {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgb(3 0 71 / 9%) 0 1px 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 6px 18px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.table-row > h5 {
    width: 50px;
    font-weight: normal;
}

.table-row > div {
    flex: 1 1 0;
    font-size: 16px;
    text-align: left;
    margin: 6px;
}

.table-row > div:last-child {
    flex: 0 0 0;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination-container .pagination {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination-container .pagination li a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    width: 32px;
    margin: 0 5px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 50%;
}

.pagination-container .pagination .disabled a {
    cursor: not-allowed;
    border: 1px solid rgb(255, 225, 230);
    color: rgb(255, 225, 230);
}

.pagination-container .pagination .active a,
.pagination-container .pagination li:not(.active):hover a {
    border: 1px solid rgb(233, 69, 96);
    color: rgb(233, 69, 96);
}

.order-detail-content {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(3 0 71 / 9%) 0 1px 3px;
    border-radius: 8px;
    padding: 0;
    margin-bottom: 30px;
    overflow: hidden;
    cursor: unset;
}

.order-detail-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px;
    background-color: rgb(243, 245, 249);
    border-radius: 0;
}

.order-detail-header > * {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin: 6px;
    box-shadow: none;
    cursor: unset;
    font-size: 14px;
}

.order-detail-header .order-detail-header-title {
    margin-right: 4px;
    color: rgb(125, 135, 156);
}

.order-detail-body {
    box-shadow: none;
    cursor: unset;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.order-detail-item-avatar {
    display: block;
    position: relative;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    border-radius: 64px;
    min-width: 64px;
    overflow: hidden;
    width: 64px;
    height: 64px;
}

.order-detail-item-price {
    font-size: 14px;
    color: rgb(125, 135, 156);
}

.order-detail-address,
.order-detail-amount {
    box-shadow: rgb(3 0 71 / 9%) 0 1px 3px;
    border-radius: 8px;
    padding: 20px 30px;
}

.order-detail-address p {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}

.order-detail-amount .card-body > div {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.divider {
    height: 1px;
    background-color: rgb(243, 245, 249);
    margin-bottom: 0.5rem;
}

.order-detail-amount-title {
    font-size: 14px;
    color: rgb(125, 135, 156);
}